<template name="solo">
	<div class="card-panel">
		<h4>
			<i class="mdi-action-assignment left"></i>Your Tasks
			{{#if anyTasks}}
			<a href="#" id="show-tasks" class="show-tasks black-text right hidden"><i class="mdi-navigation-expand-more small"></i></a>
			<a href="#" id="hide-tasks" class="hide-tasks black-text right"><i class="mdi-navigation-expand-less small"></i></a>
			{{/if}}
		</h4>
		<div id="solo-tasks">
			{{> tasksByTag}}
			{{> newGroupTagButton}}
		</div>
	</div>
	<div class="card-panel">
		<h4><i class="mdi-social-person left"></i>Your Profile</h4>
		{{> nicknameForm}}
	</div>
	{{#if calendarViewAvailable}}
	<div class="card-panel">
		<h4><i class="mdi-notification-event-note left"></i>Completed</h4>		
		<div id="group-calendar">
			{{> calendarArrows}}
			{{> ReactiveFullcalendar options=calendarOptions}}
			<div class="row">
				{{> calendarViewControl}}
			</div>
		</div>
	</div>
	{{/if}}
	{{> newGroupTaskButton}}
</template>
