<template name="groups">

	{{#if hasNickname}}
	{{#if anyGroups}}
	<div class="card-panel">
	{{> groupList}}
	</div>
	{{/if}}
	{{> addGroupButton}}
	{{else}}
	<div class="card-panel">
	<p><a href="{{pathFor 'settings'}}">Set a nickname</a> before joining/creating any groups.</p>
	</div>
	{{/if}}
</template>

<template name="groupList">
	<h4><i class="mdi-social-group left"></i>Your Groups</h4>
	<ul id="task-collection" class="row collection">

		{{#each group}}
		<li class="collection-item">
			<a href="{{pathFor 'group'}}" class="black-text">{{name}} <i class="mdi-action-launch"></i></a>
			<a href="#" class="leave-group black-text right"><i class="mdi-content-clear small"></i></a>
		</li>
		{{/each}}
	</ul>


</template>


