<template name="group">
<p class="breadcrumbs"><a href="{{pathFor 'groups'}}">Groups</a> > {{group.name}}</p>
	<h3><i class="mdi-social-group left"></i>{{group.name}}</h3>
	<div class="card-panel">
		<h4>
			<i class="mdi-action-assignment left"></i>Tasks
			{{#if anyTasks}}
			<a href="#" id="show-tasks" class="show-tasks black-text right hidden"><i class="mdi-navigation-expand-more small"></i></a>
			<a href="#" id="hide-tasks" class="hide-tasks black-text right"><i class="mdi-navigation-expand-less small"></i></a>
			{{/if}}
		</h4>
		<div id="group-tasks">
			{{> tasksByTag}}
			{{> newGroupTagButton}}
		</div>
	</div>
	<div class="card-panel">
		<h4><i class="mdi-social-person left"></i>Members</h4>
		<ul class="row collection">
			{{#each groupMember}}
			<li class="collection-item centered"><a href="{{groupMemberPath}}" class="black-text">{{name}} <i class="mdi-action-launch"></i></a></li>
			{{/each}}
		</ul>
	</div>
	{{#if isDesktop}}
	<div class="card-panel">
		<h4><i class="mdi-notification-event-note left"></i>Completed</h4>		
		<div id="group-calendar">
			{{> calendarArrows}}
			{{> ReactiveFullcalendar options=calendarOptions}}
			<div class="row">
				{{> calendarViewControl}}
				<div class="input-field col s6 m3">

					<select id="calendar-member-view-select" name="calendarMemberView">
						<option value="everyone" {{memberView 'everyone'}}>Everyone</option>
						{{#each groupMember}}
						<option value="{{id}}" {{memberView id}}>{{name}}</option>
						{{/each}}
					</select>
					<label>Member:</label>
				</div>
			</div>
		</div>
	</div>
	{{/if}}
	{{> newGroupTaskButton}}
</template>
