.hidden{
		display: none;
}
.modal-content{
		padding-bottom: 20px;
}

.label{
		color: #9e9e9e;
}

.centered{
		text-align: center;
}

li>.row{
		margin-bottom: 0px;
}

.fc h2 {
		font-size: 18px;
}

#calendar-card {
		width: 97%;
		margin-left: auto;
		margin-right: auto;
}

#backdate-datepicker{
		display: inline-block;
}

#calendar{

}
/*tags*/
#new-tag-form{
		margin: 20px 0px -20px 0px;
}
.secondary-content>.btn{
		margin-top: -8px;
}
.edit-tag-button{
		margin-top: 15px;
}
footer{
		text-align: center;
}