<template name="navbar">
	<nav>
		<div class="nav-wrapper">
			<a href="{{pathFor route='index'}}" class="brand-logo">Taskurbate</a>
			<a href="#" class="button-collapse right" data-activates="mobile-side-nav"><i class="mdi-navigation-menu"></i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="{{pathFor route='about'}}">About<i class="mdi-action-speaker-notes right"></i></a></li>
				{{#if currentUser}}
				<li><a href="#" class="logout">Logout<i class="mdi-action-exit-to-app right"></i></a></li>
				{{/if}}
			</ul>

			<ul class="side-nav" id="mobile-side-nav">
				<li><a href="{{pathFor route='about'}}">About<i class="mdi-action-speaker-notes right"></i></a></li>
				{{#if currentUser}}
				<li><a href="#" class="logout">Logout<i class="mdi-action-exit-to-app right"></i></a></li>
				{{/if}}
			</ul>

		</div><!--/.nav-wrapper -->
	</nav>
</template>
