<template name="selectedTask">
	<div  id="task-highlight" class="row">
	{{#if taskSelected}}
		<ul class="collection">
			<li class="collection-item">
				<div class="centered">
					<div class="left">
						<a href="#" class="complete-task black-text">							
							{{#if completedToday}}
							<i class="mdi-action-assignment-turned-in small"></i>
							{{else}}
							<i class="mdi-action-done small"></i>
							{{/if}}
						</a>
						<a href="#" class="backdate-task black-text"><i class="mdi-action-event small"></i></a>
					</div>
					<span class="task">
						<i class="mdi-action-label-outline"></i>({{duration}}m) <strong>{{name}}</strong> {{dueString}} 
					</span>
					<div class="right">
						<a href="#" class="deselect-task black-text"><i class="mdi-action-highlight-remove small"></i></a>
					</div>
				</div>
			</li>
		</ul>
	{{/if}}
	</div>
</template>
