<template name="taskFilters">
	{{#if groupTasks 'default'}}
	<ul class="collection">
		<li class="collection-item row">
			<i class="mdi-social-person left"></i><strong>Self ({{groupTasks 'default'}})</strong>
			<div class="switch secondary-content">
				<label>
					<input class="task-filter" data-type="group" data-group="default"
								 type="checkbox" {{groupChecked 'default'}}>
					<span class="lever teal darken-4"></span>
				</label>
			</div>
		</li>
		{{#if defaultTasks 'default'}}
		<li class="collection-item group-default">
			<i class="mdi-action-label left"></i>Misc. ({{defaultTasks 'default'}})
			<div class="switch secondary-content">
				<label>
					<input class="task-filter" data-type="tag" data-group="default" data-tag="default"
								 type="checkbox" {{tagChecked 'default' 'default'}}>
					<span class="lever"></span>
				</label>
			</div>
		</li>
		{{/if}}
		{{#each selfTag}}
		{{#if tasks}}
		<li class="collection-item group-default">
			<i class="mdi-action-label left"></i>{{name}} ({{tasks}})
			<div class="switch secondary-content">
				<label>
					<input class="task-filter" data-type="tag" data-group="default" data-tag="{{_id}}"
								 type="checkbox" {{tagChecked group _id}}>
					<span class="lever"></span>
				</label>
			</div>
		</li>
		{{/if}}
		{{/each}}
	</ul>
	{{/if}}

	{{#each groups}}
	{{#if groupTasks _id}}
	<ul class="collection">
		<li class="collection-item row">
			<i class="mdi-social-group left"></i><strong>{{name}} ({{groupTasks _id}})</strong>
			<div class="switch secondary-content">
				<label>
					<input class="task-filter" data-type="group" data-group="{{_id}}"
								 type="checkbox" {{groupChecked _id}}>
					<span class="lever teal darken-4"></span>
				</label>
			</div>
		</li>
		{{#if defaultTasks _id}}
		<li class="collection-item group-{{_id}}">
			<i class="mdi-action-label left"></i>Misc. ({{defaultTasks _id}})
			<div class="switch secondary-content">
				<label>
					<input class="task-filter" data-type="tag" data-group="{{_id}}" data-tag="default"
								 type="checkbox" {{tagChecked _id 'default'}}>
					<span class="lever"></span>
				</label>
			</div>
		</li>
		{{/if}}
		{{#each groupTag}}
		{{#if tasks}}
		<li class="collection-item group-{{group}}">
			<i class="mdi-action-label left"></i>{{name}} ({{tasks}})
			<div class="switch secondary-content">
				<label>
					<input class="task-filter" data-type="tag" data-group="{{group}}" data-tag="{{_id}}"
								 type="checkbox" {{tagChecked group _id}}>
					<span class="lever"></span>
				</label>
			</div>
		</li>
		{{/if}}
		{{/each}}
	</ul>
	{{/if}}
	{{/each}}
</template>
