<template name="task">
{{#with task}}
		<h4>
			<a href="#" class="complete-task black-text">
				{{#if completedToday}}
				<i class="mdi-action-assignment-turned-in small left"></i>
				{{else}}
				<i class="mdi-action-done small left"></i>
				{{/if}}
			</a>
			{{name}}
			<a href="#" class="backdate-task black-text right"><i class="mdi-action-event small"></i></a>
		</h4>



	<div class="row">
		<div class="col s12 m6">
			<div class="card-panel">
				<div class="row">
					<div class="col s6">
						<strong>Group:</strong> {{groupById}}
					</div>
					<div class="col s6">
						<strong>Tag:</strong> {{tagById}}
					</div>
				</div>
				{{#if description}}
				<p><strong>Description:</strong></p>
				<p>{{description}}</p>
				{{/if}}
			</div>
		</div>
		<div class="col s12 m6">
			<div class="card-panel">
				<p><strong>Duration:</strong> {{duration}} minutes</p>
				{{#if dueData}}
				<p><strong>Due:</strong> {{dueNextFormatted}}</p>
				<p><strong>Due every:</strong> {{dueEveryFormatted}} day{{daysPlural}}</p>
				{{/if}}
				<p><strong>Schedule:</strong> {{schedule}}</p>
			</div>
		</div>
	</div>
{{/with}}

	<div class="row centered">
		<div class="col s3">
			<a href="#" class="completed-calendar black-text tooltipped" 
				 data-position="top" data-delay="50" data-tooltip="Completed calendar">
				<i class="mdi-notification-event-note small"></i>
			</a>
		</div>
		<div class="col s3 tooltipped"
				 data-position="top" data-delay="50" data-tooltip="Completed graphs">
			<a href="#" class="graph-task black-text tooltipped">
				<i class="mdi-action-assessment small"></i>
			</a>
		</div>
		<div class="col s3">
			<a href="#" class="edit-task black-text tooltipped" 
				 data-position="top" data-delay="50" data-tooltip="Edit task">
				<i class="mdi-content-create small"></i>
			</a>
		</div>
		<div class="col s3">
			<a href="#" class="delete-task black-text tooltipped"
				 data-position="top" data-delay="50" data-tooltip="Delete task">
				<i class="mdi-action-delete small"></i>
			</a>
		</div>
	</div>
</template>
