<template name="tasks">
	<div class="card-panel">
		{{#if anyTasks}}
		<div id="task-filters" class="row hidden">
			<h4 class="">
			<i class="mdi-content-filter-list left"></i>
			View:
				<a href="#" class="hide-task-filters black-text right"><i class="mdi-navigation-expand-less medium right"></i>  </a>				
			</h4>
			<div>
				{{#if calendarViewAvailable}}
				<div class="switch left">
					<label>
						<i class="mdi-action-assignment"></i> List
						<input id="tasksView" type="checkbox" {{tasksViewChecked 'calendar'}}>
						<span class="lever"></span>
						<i class="mdi-action-event"></i> Calendar
					</label>
				</div>
			{{/if}}
			<a href="#" class="view-all black-text right">View All</a>
			</div>
			<br>
			{{#if calendarView}}

			{{/if}}
			{{> taskFilters}}
		</div>
		<div class="row">
			<h4>
				<i class="{{tasksViewIcon}} left"></i>Tasks
				<a href="#" class="show-task-filters black-text right"><i class="mdi-content-filter-list"></i></a>
				{{#unless searchingFor}}
				<a href="#" class="search-tasks black-text right"><i class="mdi-action-search"></i></a>
				{{/unless}}
			</h4>
		</div>
		{{#if searchingFor}}
    <div class="row">
			<div  id="tasks-search-display" class="col s12 m6 l4 offset-m3 offset-l4">
				<h5>
					<span id="searching-for"><i class="mdi-action-search left"></i>{{searchingFor}}</span>
					<a href="#" class="clear-search black-text right"><i class="mdi-navigation-close"></i></a>
				</h5>
			</div>
    </div>
{{/if}}

		{{#if tasksView 'list'}}
		{{> list}}
		{{/if}}
		{{#if tasksView 'calendar'}}
		{{> calendar}}
		{{/if}}



		{{else}}
		<p>You don't have any tasks yet! Create one by pushing that big red button down there.</p>
		{{/if}}
	</div>
	{{> newTaskButton}}
</template>

<template name="taskCollectionElement">

	<li class="collection-item">		
		<div class="row">
			<div class="col s10 m11">
				<span class="task">
					<a href="#" class="complete-task {{dueColor}}-text">
						{{#if completedToday}}
						<i class="mdi-action-assignment-turned-in small left"></i>
						{{else}}
						<i class="mdi-action-done small left"></i>
						{{/if}}
					</a>
					<a href="{{pathFor 'task'}}" class="black-text">{{name}} <i class="mdi-action-launch"></i></a>
				</span>
			</div>
			<div class="col s1">
				<a href="#" class="backdate-task {{dueColor}}-text"><i class="mdi-action-event small left"></i></a>
			</div>
		</div>
	</li>
</template>
