<template name="groups">
	{{#if hasNickname}}
	{{#if anyGroups}}
	{{> groupList}}
	{{/if}}
	<br>
	{{> groupCRUD}}
	{{else}}
	<p>Please set a nickname before joining/creating any groups:</p>
	{{> nicknameForm}}
	{{/if}}
</template>

<template name="groupList">

	<ul id="task-collection" class="collection with-header">
		<li class="collection-header">
			<h4>
				<i class="mdi-social-group left"></i>
				Groups: 
			</h4>
		</li>
		{{#each group}}
		<li>
			<a href="#" class="group-description black-text">{{name}} <i class="mdi-action-launch"></i></a>
			<a href="#" class="edit-group black-text right"><i class="mdi-content-create small"></i></a>
		</li>
		{{/each}}
	</ul>


</template>

<template name="groupCRUD">

	<div class="row">
		<div class="col s12 m6">
			<strong>Create a group:</strong> <button id="new-group" class="btn right">New Group</button>
		</div>
		<div class="col s12 m6">
			<strong>Join a group:</strong>
			<div class="input-field">
				<input id="group-name" type="text">
				<label for="group-name">Group name</label>
			</div>
			<div class="input-field">
				<input id="group-pass" type="password">
				<label for="group-pass">Password</label>
			</div>
			<button id="join-group" class="btn right">Join Group</button>
		</div>
	</div>
</template>


