<template name="displayTag">
  <a href="#panel-{{tag._id}}" class="list-group-item {{disabled tag}}">
    <div class="row">
    {{#if editing}}
    {{> editTag editData}}
    {{else}}
    <div class="col-xs-8 col-sm-7">
      {{tag.name}}
    </div>
    {{#if editable tag}}
    <div class="col-xs-4 col-sm-5 text-center">
      <div class="btn-group">
        <button class="edit-tag btn btn-xs btn-default">{{> glyphicon icon='pencil'}}</button>
        <button class="delete-tag btn btn-xs btn-default">{{> glyphicon icon='trash'}}</button>
      </div>
    </div>
    {{/if}}

    {{/if}}
    </div>
  </a>
</template>
