<template name="addGroupModalBody">
	<div class="row">
		<div id="join-header">
			<strong>Join Group:</strong> 
			<div class="right">
				or <a href="#" id="swap-to-create">create</a>
			</div>
		</div>
		<div id="create-header" class="hidden">
			<strong>Create Group:</strong>
			<div class="right">
				or <a href="#" id="swap-to-join">join</a>
			</div>
		</div>
		<form id="group-form">
			<div class="input-field">
				<input id="group-name" name="groupName" type="text">
				<label for="group-name">Group name</label>
			</div>
			<div class="input-field">
				<input id="group-pass" name="groupPass" type="password">
				<label for="group-pass">Password</label>
			</div>
			<div id="confirm-password" class="input-field hidden">
				<input id="group-pass-confirm" name="groupPassConfirm" type="password">
				<label for="group-pass-pass-configm">Confirm password</label>
			</div>
		</form>
		<button id="join-group" class="btn right">Join</button>
		<button id="create-group" class="btn right hidden">Create</button>
		<a href="#" class="close-modal black-text left">Cancel</a>
	</div>
</template>
