<template name="backdateTaskModalBody">
	<div class="centered">
		<div class="row">
			<div class="col s12 m6 offset-m3 input-field">
				<input id="backdate-datepicker" type="text" readonly="true">
				<label for="backdate-datepicker">{{name}} completed on:</label>
			</div>
	</div>
	</div>
</template>

<template name="backdateTaskModalFooter">
	<a href="#" class="close-modal waves-effect waves-red btn-flat left">Cancel</a>
	<a href="#" class="submit-backdate-task waves-effect waves-green btn-flat right">Backdate Task</a>
</template>
