<template name="backdateTaskModalBody">
	<div class="centered">
		<div class="row">
			<h4>{{name}}</h4>
		</div>
		<div class="row">
			<div class="col s12 m4 offset-m4 input-field">
				<input id="backdate-datepicker" type="text" readonly="true">
				<label for="backdate-datepicker">completed on:</label>
			</div>
			<div class="row">
				<div class="input-field col s12 m4 offset-m4">
					<input id="duration" name="taskDuration" type="number" value="{{duration}}">
					<label for="duration" class="active">Duration (mins)</label>
				</div>
			</div>
	</div>
	</div>
</template>

<template name="backdateTaskModalFooter">
	<a href="#" class="close-modal waves-effect waves-red btn-flat left">Cancel</a>
	<a href="#" class="submit-backdate-task waves-effect waves-green btn-flat right">Backdate Task</a>
</template>
