<template name="completedCalendarModalBody">
	<div class="row" id="completed-row">
		{{#if completedTaskSelected}}
		<ul  class="collection">
			<li class="collection-item">
				<div class="centered">
					<div class="left">
						<a href="#" class="remove-completed black-text"><i class="mdi-action-delete small"></i></a>
					</div>
					<i class="mdi-action-event"></i>
					{{completedOn}}
					{{#if completedAt}}
					<i class="mdi-device-access-time"></i>
					{{completedAt}}
					{{/if}}
					<div class="right">
						<a href="#" class="deselect-completed black-text"><i class="mdi-action-highlight-remove small"></i></a>
					</div>
				</div>
			</li>
		</ul>
		{{/if}}
	</div>
	<div id="task-calendar">

		{{> calendarArrows}}
		{{> ReactiveFullcalendar options=calendarOptions}}
	</div>
</template>

<template name="completedCalendarModalFooter">
	<a href="#" class="close-modal black-text right">Close</a>
</template>
