<template name="editTaskModalBody">

	<form class="edit-task-form">

		<div class="row">
			{{#with task}}
			<div class="input-field col s12 m8">
				<input placeholder="Name of task" name="taskName" id="name" type="text" value="{{name}}">
				<label class="active" for="name">Name</label>
			</div>
			<div class="input-field col s12 m4">
				<input id="duration" name="taskDuration" type="number" value="{{duration}}">
				<label for="duration" class="active">Duration (mins)</label>
			</div>
			{{/with}}
		</div>

		<div class="row">

			<div class="input-field col s12 m8">
				<textarea id="description" name="taskDescription" class="materialize-textarea">{{task.description}}</textarea>
				<label class="active" for="description">Description</label>
			</div>
			<div class="col s12 m4">
				<div class="input-field">
					{{#with task}}
					<select id="group" name="taskGroup" disabled>
						<option value="{{group}}" selected >{{groupName}}</option>
					</select>
					<label>Group:</label>
				{{/with}}
				</div>

				<div class="input-field">
					<select id="tag" name="taskTag" {{disabledWithoutTags}}>
						<option value="default" {{selectedTag 'default'}}>Misc.</option>
						{{#each tag}}
						<option value="{{_id}}" {{selectedTag _id}}>{{name}}</option>
						{{/each}}
					</select>
					<label>Tag as:</label>
				</div>
			</div>
</div>
		<div class="row">
{{#with task}}
			<div class="input-field col s12 m6 l4">

				<p class="col s12">Scheduling:</p>


				<input name="taskScheduleType" type="radio" id="adaptive" value="adaptive" {{checkedSchedule 'adaptive'}}>
				<label for="adaptive">Adaptive</label>
				<br>
				<input name="taskScheduleType" type="radio" id="lenient" value="lenient"  {{checkedSchedule 'lenient'}}>
				<label for="lenient">Lenient</label>
				<br>
				<input name="taskScheduleType" type="radio" id="strict" value="strict"  {{checkedSchedule 'strict'}}>
				<label for="strict">Strict</label>
				<br>
			</div>
			<div class="col s12 m6 l8">
				<br>
				<div id="schedule-explanations">
					<p id="adaptive-explanation" class="label">Due date will adapt based on how frequently it is completed.</p>
					<p id="lenient-explanation" class="label">Due date will always be X days after it was last completed.</p>
					<p id="strict-explanation" class="label">Due date will always be X days after last due.</p>
				</div>
				<div id="schedule-inputs">
					<div id="due-every" class="input-field">
					<label for="days-before-due" class="active">Due every (days):</label>
					<input id="days-before-due" name="taskDaysBeforeDue" type="number" min="1" value="{{dueEvery}}">
					</div>
					<div id="starting-on" class="input-field">
					<label for="due-starting" class="active">Due on:</label>
					<input id="due-starting" name="taskDueStarting" type="text" readonly="true" value="{{dueNextFormatted}}">
					</div>
				</div>
			</div>
{{/with}}
		</div>
	</form>

</template>
<template name="editTaskModalFooter">
	<a href="#" class="close-modal black-text left">Cancel</a>
	<a href="#" class="edit-task black-text right">Edit Task</a>
</template>
