<template name="newTaskModalBody">
	<form class="new-task-form">
		<div class="row">
			<div class="input-field col s12 m6 l4">
				<input placeholder="Name of new task" name="taskName" id="name" type="text" required>
				<label for="name">Name</label>
			</div>
			<div class="input-field col s12 m3 l4">
				<input id="duration" name="taskDuration" type="number" value="30">
				<label for="duration" class="active">Duration (mins)</label>
			</div>
			<div class="input-field col s12 m3 l4">
				<select id="tag" name="taskTag" {{disabledWithoutTags}}>
					<option value="0" selected>Misc.</option>
					{{#each tag}}
					<option value="{{_id}}">{{name}}</option>
					{{/each}}
				</select>
				<label>Tag as:</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m6 l4">
				<p class="label">Scheduling:</p>
				<input name="taskScheduleType" type="radio" id="adaptive" value="adaptive" checked>
				<label for="adaptive">Adaptive</label>
				<br><br>
				<input name="taskScheduleType" type="radio" id="hybrid" value="hybrid">
				<label for="hybrid">Hybrid</label>
				<br><br>
				<input name="taskScheduleType" type="radio" id="strict" value="strict">
				<label for="strict">Strict</label>
			</div>
			<div class="col s12 m6 l8">
				<br>
				<div id="schedule-explanations">
					<p id="adaptive-explanation" class="label">Due date will adapt based on how frequently it is completed.</p>
					<p id="hybrid-explanation" class="label hidden">Due date will always be the set number of days after it was last completed.</p>
					<p id="strict-explanation" class="label hidden">Due date will always be the set number of days after last due.</p>
				</div>
				<div id="schedule-inputs">
					<div id="due-every" class="input-field hidden">
					<label for="days-before-due">Due every (days):</label>
					<input id="days-before-due" name="taskDaysBeforeDue" type="number" min="1">
					</div>
					<div id="starting-on" class="input-field hidden">
					<label for="due-starting">Due on:</label>
					<input id="due-starting" name="taskDueStarting" type="text" readonly="true">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea id="description" name="taskDescription" class="materialize-textarea"></textarea>
				<label for="description">Description</label>
			</div>
		</div>
	</form>
</template>
<template name="newTaskModalFooter">
	<a href="#" class="close-modal waves-effect waves-red btn-flat left">Cancel</a>
	<a href="#" class="create-task waves-effect waves-green btn-flat right">Create Task</a>
</template>
