<template name="notifications">
	<div class="card-panel">
		<h4>Notifications:</h4>
		{{#if anyNotifications}}
		{{#if overdueTasks}}
		<ul class="collection with-header row">
			<li class="collection-header">
				<strong>Overdue tasks:</strong>
				{{#each overdueTasks}}
				{{> taskCollectionElement}}
				{{/each}}
			</li>
		</ul>
		{{/if}}
		{{#if dueTodayTasks}}
		<ul class="collection with-header row">
			<li class="collection-header">
				<strong>Tasks due today:</strong>
				{{#each dueTodayTasks}}
				{{> taskCollectionElement}}
				{{/each}}
			</li>
		</ul>		
		{{/if}}
		{{#if notifications}}
		<ul class="collection row">
			{{#each notifications}}
			<li class="collection-item">
				<div class="row">
					<div class="col s10 m11">
						{{#if completedNotification}}
						{{#with data}}
						<a href="/groups/{{group.id}}"><strong><i class="mdi-social-group"></i>{{group.name}}</strong></a>:<br>
						<a href="/groups/{{group.id}}/member/{{user.id}}">{{user.name}}</a> completed
						<a href="tasks/{{task.id}}">{{task.name}}</a> on {{formattedDatetime at}}
						{{/with}}
						{{/if}}
					</div>
					<div class="col s2 m1">
						<a href="#" class="close-notification black-text"><i class="mdi-navigation-close small"></i></a>
					</div>
				</div>
			</li>
			{{/each}}
		</ul>
		{{/if}}
		{{else}}
		<strong>You're all caught up, keep up the good work!</strong>
		{{/if}}
	</div>
</template>
