<template name="notifications">
	<div class="card-panel">
		<h4>Notifications:</h4>
		{{#if anyNotifications}}
		{{#if overdueTasks}}
		<ul class="collection with-header row">
			<li class="collection-header">
				<strong>Overdue tasks:</strong>
				{{#each overdueTasks}}
				{{> taskCollectionElement}}
				{{/each}}
			</li>
		</ul>
		{{/if}}
		{{#if dueTodayTasks}}
		<ul class="collection with-header row">
			<li class="collection-header">
				<strong>Tasks due today:</strong>
				{{#each dueTodayTasks}}
				{{> taskCollectionElement}}
				{{/each}}
			</li>
		</ul>		
		{{/if}}
		{{#each notifications}}

		<div class="card-panel row">

			<h5><a href="/groups/{{id}}"><strong><i class="mdi-social-group"></i>{{name}}</strong></a>:</h5>

			{{#each byMember}}
			<ul class="collection with-header">
				<li class="collection-header"><strong><a href="/groups/{{groupId}}/member/{{id}}">{{name}}</a> completed:</strong></li>
				{{#each memberNotification}}

				<li class="collection-item">
					<a href="tasks/{{data.task.id}}">{{data.task.name}}</a> on {{formattedDatetime data.at}}
					<a href="#" class="close-notification black-text secondary-content"><i class="mdi-navigation-close small"></i></a>
				</li>

				{{/each}}
			</ul>
			{{/each}}
		</div>

		{{/each}}


		{{else}}
		<strong>You're all caught up, keep up the good work!</strong>
		{{/if}}
	</div>
</template>
