<template name="welcome">

	<div class="row">
		<div class="col s12">
			<h3>Welcome!</h3>
		</div>
		<div class="col s12">
			<div class="row">
				{{#unless tags}}
				<div class="col s12 m6 l4">
					<a href="{{pathFor 'solo'}}" class="black-text">
						<div class="card-panel">
							<div class="row">
								<div class="col s12 m4 centered">
									<i class="mdi-image-style medium"></i>
								</div>
								<div class="col s12 m8">
									<strong>Add a tag or two so you can organize your tasks.</strong>
								</div>
							</div>
						</div>
					</a>
				</div>
				{{/unless}}
				{{#unless tasks}}
				<div class="col s12 m6 l4">
					<a href="{{pathFor 'tasks'}}" class="black-text">
						<div class="card-panel">						
							<div class="row">
								<div class="col s12 m4 centered">
									<i class="mdi-action-assignment medium"></i>
								</div>
								<div class="col s12 m8">
									<strong>Add new tasks and start taskurbating.</strong>
								</div>
							</div>
						</div>
					</a>
				</div>
				{{/unless}}
				{{#unless nicknameSet}}
				<div class="col s12 m6 l4">
					<a href="{{pathFor 'solo'}}" class="black-text">
						<div class="card-panel">						
							<div class="row">
								<div class="col s12 m4 centered">
									<i class="mdi-social-person medium"></i>
								</div>
								<div class="col s12 m8">
									<strong>Add a nickname so you can join groups.</strong>
								</div>
							</div>
						</div>
					</a>
				</div>				
				{{else}}
				{{#unless groups}}
				<div class="col s12 m6 l4">
					<a href="#" class="add-group black-text">
						<div class="card-panel">
							<div class="row">
								<div class="col s12 m4 centered">
									<i class="mdi-social-group medium"></i>
								</div>
								<div class="col s12 m8">
									<strong>Join a group (or create one) and taskurbate with others.</strong>
								</div>
							</div>
						</div>
					</a>
				</div>
				{{/unless}}
				{{/unless}}
			</div>
			<hr>
		</div>
	</div>

</template>
